{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="box_pages">
  <div class="container boutons_discussion">
    <a class="btn btn-primary btn-sm col-sm- col-md- col-lg- bouton_retour" href="{{ path('theme_visu',{'slug':slug })}}">Retour</a>
  </div>
  <br>

  {{ form_start(form_create) }}

  <div class="modal-body container col-sm-10 col-md-8 col-lg-6">
    <h3>Création d'une nouvelle discussion</h3
    {{ form_label(form_create.title, null, {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form_create.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de la nouvelle discussion'}}) }}
    <div class="box_bouton_creer_discussion">
      <input type="submit" class="btn btn-md btn-primary bouton_CreerDiscussion" name="submit" value="Enregistrer">
    </div>
  </div>
  {{ form_end(form_create) }}
</div>





{% endblock %}
