{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<script src="script/script.js">

</script>

{% endblock %}


{% block body %}
<!-- bloc principal -->

  <!-- Menu -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{path ('home') }}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#lienPageFruit">FRUITS DU MOIS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#lienPageMois">MOIS & SAISONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home')}}#lienPageForum">FORUM</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" data-toggle="modal" data-target="#subscribeForm">
          <a class="nav-link" href="#">Inscription</a>
        </li>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item"><a class="nav-link" href="{{ path('logout_route') }}">Se déconnecter</a>
        </li>
        {% else %}
          <li class="nav-item" data-toggle="modal" data-target="#loginForm">
            <a class="nav-link" href="#">Connexion</a>
          </li>
      {% endif %}

      </ul>
    </div>
  </nav>
  <!-- end menu -->

  <!-- PAGE ACCUEIL -->
  <div class="pageAccueil">
  <!-- bloc Titres et boutons -->
    <div class="jumbotron">
      <h1 class="text-center col-lg-5 col-md-6 col-sm-9" id="lienPageHome">VEGGIZ</h1>
      <h3 class="">LE BLOG DES FRUITS ET DES LÉGUMES DE SAISONS</h3>

      <div class="row container box_boutons">
        {# <span class="col-md-1"></span> #}
        <a class="btn btn-primary main_button btn-lg col-sm-8 col-md-7 col-lg-3" href="#lienPageFruit" role="button">Fruits & Légumes</a>
        <span class="col-md-1"></span>
        <a class="btn btn-primary main_button btn-lg col-sm-8 col-md-7 col-lg-3" href="#lienPageMois" role="button">Mois & Saisons</a>
        <span class="col-md-1"></span>
        <a class="btn btn-primary main_button btn-lg col-sm-8 col-md-7 col-lg-3" href="#lienPageForum" role="button">Forum</a>
      </div>
    </div>
  <!-- END bloc Titre et boutons -->
  </div>
  <!-- END PAGE ACCUEIL -->


    <div class="pageFruitsduMois">
      <h2 class="text-right" id="lienPageFruit">FRUITS & LEGUMES DU MOIS </h2>

      <div class="container">

        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
            <img src="img/apricot.png" label="icone-banane" class="fruits">
            <h4>Abricot</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
            <img src="img/artichoke.png" label="icone-banane" class="fruits">
            <h4>Artichaut</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
            <img src="img/fig.png" label="icone-banane" class="fruits">
            <h4>Figue</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
            <img src="img/melon.png" label="icone-banane" class="fruits">
            <h4>Melon</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
            <img src="img/paprika.png" label="icone-banane" class="fruits">
            <h4>Poivron</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
            <img src="img/strawberry.png" label="icone-banane" class="fruits">
            <h4>Fraise</h4>
          </div>

        <div class"w-100"> </div>

          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
          <img src="img/spinach.png" label="icone-banane" class="fruits">
          <h4>Epinard</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
          <img src="img/tomato.png" label="icone-banane" class="fruits">
          <h4>Tomate</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
            <img src="img/lemon.png" label="icone-banane" class="fruits">
            <h4>Citron</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
            <img src="img/asparagus.png" label="icone-banane" class="fruits">
              <h4>Asperge</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
            <img src="img/watermelon.png" label="icone-banane" class="fruits">
                <h4>Pasteque</h4>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
            <img src="img/carrot.png" label="icone-banane" class="fruits">
            <h4>Carrotte</h4>
          </div>

        <div class"w-100"> </div>

        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
        <img src="img/onion.png" label="icone-banane"class="fruits">
          <h4>Oignon</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
          <img src="img/cherries.png" label="icone-banane"class="fruits">
            <h4>Cerise</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
          <img src="img/zucchini.png" label="icone-banane"class="fruits">
          <h4>Courgette</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
          <img src="img/radish.png" label="icone-orange"class="fruits">
        <h4>Radis</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenOne">
          <img src="img/broccoli.png" label="icone-banane"class="fruits">
          <h4>Broccoli</h4>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 greenBox greenTwo">
          <img src="img/raspberries.png" label="icone-banane"class="fruits">
          <h4>Framboise</h4>
        </div>
        </div>

      </div>

    </div>

    <div class="Mois&Saisons">
      <h2 class="text-right" id="lienPageMois">MOIS & SAISONS </h2>

        <div id="carouselMois" class="carousel slide container" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselMois" data-slide-to="0" class="active"></li>
          <li data-target="#carouselMois" data-slide-to="1"></li>
          <li data-target="#carouselMois" data-slide-to="2"></li>
          <li data-target="#carouselMois" data-slide-to="3"></li>
          <li data-target="#carouselMois" data-slide-to="4"></li>
          <li data-target="#carouselMois" data-slide-to="5"></li>
          <li data-target="#carouselMois" data-slide-to="6"></li>
          <li data-target="#carouselMois" data-slide-to="7"></li>
          <li data-target="#carouselMois" data-slide-to="8"></li>
          <li data-target="#carouselMois" data-slide-to="9"></li>
          <li data-target="#carouselMois" data-slide-to="10"></li>
          <li data-target="#carouselMois" data-slide-to="11"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Septembre</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Octobre</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Novembre</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Decembre</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Janvier</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Sixth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Fevrier</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Seventh slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Mars</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Eighth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Avril</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Nineth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Mai</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" ssrc="{{ asset('img/slide-juin.gif')}}" alt="tenth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Juin</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Eleventh slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Juillet</h5>
           </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('img/slide-juin.gif')}}" alt="Twelfth slide">
            <div class="carousel-caption d-none d-md-block">
             <h5>Aout</h5>
           </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselMois" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselMois" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
        </div>


    <!-- PAGE FORUM -->
    <div class="FORUM">
      <h2 class="text-right" id="lienPageForum">FORUM </h2>
      <div class="row container box_theme">
        <div class="col-lg-4 col-md-6 col-sm-12 imgEtTxt">
          <a href="{{ path('theme_visu', {'slug': 'coup_d_coeur_conso'}) }}">
          <img src="{{ asset('img/icone-coeur.png')}}" alt="icone theme" id="icone_theme">
          <div class="texte">
          <h4>COUP D'COEUR CONSO</h4>
          <p> Paratgez vos coups de coeur cuisine, legumes ou producteurs.</p>
          </div></a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 imgEtTxt">
          <a href="{{ path('theme_visu', {'slug': 'coup_d_gueule_conso'}) }}">
          <img src="{{ asset('img/icone-gueule.png')}}" alt="icone theme" id="icone_theme">
          <div class="texte">
          <h4>COUP D'GUEULE CONSO</h4>
          <p> Vous avez reperé des
          arnaques ou des prosuits de mauvaise qualité. Faites en part.</p>
          </div></a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 imgEtTxt">
          <a href="{{ path('theme_visu', {'slug': 'bons_plans'}) }}">
          <img src="{{ asset('img/icone-bonplan.png')}}" alt="icone theme" id="icone_theme">
            <div class="texte">
            <h4>BONS PLANS</h4>
            <p> Partagez ici les bons plans que vous avez repéré</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 imgEtTxt">
            <a href="{{ path('theme_visu', {'slug': 'avis_sur_produits'}) }}">
            <img src="{{ asset('img/icone-avis.png')}}" alt="icone theme" id="icone_theme">
            <div class="texte">
            <h4>AVIS PRODUITS & MARQUES</h4>
            <p> Aidez nous a
            consommer responsable.N’hesitez pas à partager circuit courts et trouvailles</p>
            </div></a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 imgEtTxt">
            <a href="{{ path('theme_visu', {'slug': 'conseil'}) }}">
            <img src="{{ asset('img/icone-conseil.png')}}" alt="icone theme" id="icone_theme">
            <div class="texte">
            <h4>CONSEILS & ASTUCES</h4>
            <p> Partagez ici les conseils cuisine achat ou consommation</p>
            </div></a>
        </div>

      </div>


</div>
<!-- END PAGE FORUM -->



  <div class="footer footer-copyright text-center py-3">
    <p> Copyright © 2019 All rights reserved </p>
    <p> Created by Audrey Gazza & Océane Allix </p>
  </div>

  <!-- formulaire de register (masqué au départ. S'affichera en popup lors du click -->
  <div class="modal fade" id="subscribeForm" tabindex="-1" role="dialog" aria-labelledby="subscribeFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="subscribeFormModalLabel">Inscription</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {{ form_start(register_form) }}
    <div class="modal-body">
      {# <h3 class="h3 mb-3 font-weight-normal">Inscription</h3> #}

        <div class="">
          {{ form_label(register_form.email, null, {'label_attr': {'class': 'sr-only'}}) }}
          {{ form_widget(register_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        <div class="">
          {{ form_label(register_form.password, null, {'label_attr': {'class': 'sr-only'}}) }}
          {{ form_widget(register_form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
        </div>
        <div class="">
          {{ form_label(register_form.pseudo, null, {'label_attr': {'class': 'sr-only'}}) }}
          {{ form_widget(register_form.pseudo, {'attr': {'class': 'form-control', 'placeholder': 'Pseudo'}}) }}
        </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-lg btn-primary bouton_Sinscrire" name="register" value="S'inscrire">
        </div>
        {{ form_end(register_form) }}
      </div>
    </div>
  </div>
    <!-- end popup register -->

    <!--  popup login -->
    <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="loginFormLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {# <div class="modal-header">
            <h5 class="modal-title" id="loginFormLabel">
              Connexion
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> #}
          <div class="modal-body">
              <form method="post" action="{{ path('app_login')}}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h3 class="h3 mb-3 font-weight-normal">Connexion</h3>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-lg btn-primary bouton_SeConnecter" type="submit">Se connecter</button>
        </div>
      </form>

        </div>
      </div>
      </div>
    </div>
    <!-- end popup login -->

<!-- end Bloc principal -->





{% endblock %}

{% block modal %}



{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
