{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="box_pages">
  <h6>VEGGIZ</h6>
  <h3>{{ title }}</h3>
  <div class="container boutons_discussion">
    <a class="btn btn-primary btn-sm col-sm- col-md- col-lg- bouton_retour" href="{{ path('theme_visu',{'slug':slug })}}">Retour</a>
    <a class="btn btn-primary btn-sm col-sm- col-md- col-lg- bouton_NouveauContenu" href="{{ path('message_create', {'idDiscussion': discussion_id}) }}">Nouveau message</a><br>
  </div>
  <br>
  <ul class="container list-group box_messages_commentaires">
    {% for message in messages %}
    <li class="list-group-item messages_liste col-sm-10 col-md-8 col-lg-6">
      <p class="pseudo">{{ message.user.pseudo }}</p>
      <p class="date">{{ message.createdAt | date('d/m/Y') }}</p>
      <br>
      <p class="message_content">{{ message.content }}</p>

      <a href="{{ path('commentaire_create', {'idMessage': message.id}) }}">Répondre</a>

    </li>

    <ul class="list-group">
    {% for commentaire in message.commentaires %}
      <li class="list-group-item commentaires_liste col-sm-10 col-md-8 col-lg-6">
        <p class="pseudo">{{ commentaire.user.pseudo }}</p>
        <p class="date">{{ commentaire.createdAt | date('d/m/Y') }}</p>
        <br>
        <p class="message_content">{{commentaire.content}}</p>
       </li>
    {% endfor %}
    </ul>
    {% endfor %}

  </ul>

</div>



{% endblock %}
