{% extends 'base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="box_pages">


  {{ form_start(form_create) }}

  <div class="modal-body container col-sm-10 col-md-8 col-lg-6">
    <h6>VEGGIZ</h6>
    <h3>Rédiger un nouveau message</h3>

    {{ form_label(form_create.content, null, {'label_attr': {'class': 'sr-only'}} ) }}
    {{ form_widget(form_create.content, {'attr': {'class': 'form-control', 'placeholder': 'Rédigez votre message'}}) }}

      <div class="container boutons_discussion final">
        <a class="btn btn-primary btn-md bouton_retour" href="{{ path('message_visu',{'id': discussion_id })}}">Retour</a>

        <input type="submit" class="btn btn-md btn-primary bouton_NouveauContenu" name="submit" value="Enregistrer">
      </div>

  </div>

{{ form_end(form_create) }}
</div>



{% endblock %}
