{% extends 'base.html.twig' %}

{% block title %}Discussion index{% endblock %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="box_pages">
  <h6>VEGGIZ</h6>
    <h3>Discussion index</h3>
    <div class="container col-sm-10 col-md-8 col-lg-6">
    <table class="table">
        <thead class="entete">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>LastMsg</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discussion in discussions %}
            <tr>
                <td>{{ discussion.id }}</td>
                <td>{{ discussion.title }}</td>
                <td>{{ discussion.lastMsg ? discussion.lastMsg|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('discussion_show', {'id': discussion.id}) }}">show</a>
                    <a href="{{ path('discussion_edit', {'id': discussion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container boutons_discussion">
    <a class="btn btn-primary bouton_admin" href="{{ path('discussion_new') }}">Create new</a>
    </div>
  </div>
</div>


{% endblock %}
