{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block stylesheets %}
{{parent()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="box_pages">
    <h6>VEGGIZ</h6>
    <h3>Message index</h3>

    <div class="container col-sm-10 col-md-8 col-lg-6">

        <table class="table">
            <thead class="entete">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>

    <div class="container boutons_discussion">
    <a class="btn btn-primary bouton_admin" href="{{ path('message_new') }}">Create new</a>
    </div>

    </div>
{% endblock %}
