<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container-fluid">
    {% block nav %}

    <!-- Menu -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{path ('home') }}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home')}}#lienPageFruit">FRUITS DU MOIS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home')}}#lienPageMois">MOIS & SAISONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home')}}#lienPageForum">FORUM</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
      {% if is_granted('ROLE_ADMIN') %}
      <li><a class="nav-link" href="{{ path('admin')}}">Admin</a></li>
      {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('logout_route') }}">Se déconnecter</a>
            {# <a class="nav-link" href="{{ path('account') }}">{{ 'Mon Compte' | upper }} </a> <!-- ajout de la rubrique Mon Compte quand on se connecte --> #}
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('register') }}">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}


        </ul>
      </div>
    </nav>
    <!-- end menu -->

    {% endblock %}
    {% for message in app.flashes('warning') %}
       <div class="box_pages alert alert-warning">
           {{ message | raw }}
       </div>
   {% endfor %}
        {% block body %}

        {% endblock %}




        </div>


        {% block javascripts %}{% endblock %}

    </body>
</html>
